@model AptitudeTestOnline.Models.RegisterViewModel
@using AptitudeTestOnline.Models
@{
    ViewBag.Title = "Register";
    Accounts accountInfor =
        ViewData["AccountInfor"] as Accounts;
}

<h2>Create Account for Candidate</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        Full Name
    </dt>
    <dd>
        @accountInfor.Name
    </dd>
    <dt>
        Education
    </dt>
    <dd>
        @accountInfor.Education
    </dd>
    <dt>

    </dt>
    <dd>
        @accountInfor.Experience
    </dd>
    <dt>

    </dt>
    <dd>
        @accountInfor.Dateofbirth
    </dd>

</dl>

@using (Html.BeginForm("Register", "AdminAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" name="Email" id="Email" class="form-control" value="@accountInfor.Email" readonly/>
            @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
            <input type="text" name="AccountID" value="@accountInfor.AccountID" hidden />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
