@model IEnumerable<AptitudeTestOnline.Models.ExamModels>

@{
    ViewBag.Title = "Perform Test";
    IEnumerable<AptitudeTestOnline.Models.QuestionsModels> Questions =
          ViewData["Questions"] as IEnumerable<AptitudeTestOnline.Models.QuestionsModels>;
    IEnumerable<AptitudeTestOnline.Models.QuestionsModels> MyQuestions =
         ViewData["MyQuestions"] as IEnumerable<AptitudeTestOnline.Models.QuestionsModels>;
    IEnumerable<AptitudeTestOnline.Models.DetailsExamModels> DetailQuestions =
         ViewData["DetailQuestions"] as IEnumerable<AptitudeTestOnline.Models.DetailsExamModels>;

}

<style>
    .perform-test {
        height: 380px;
        overflow-y: scroll;
        margin-top: 20px;
    }
</style>

<div class="content-wrapper">
    <div class="card">
        <div class="card-body" style="min-height: 580px">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <h4 class="text-right">
                    <span style="font-weight: bold; text-decoration: underline">Time remaining:</span>
                    <span style="font-size: 1.5rem">
                        <span id="demo"></span>
                    </span>
                </h4>

                <div class="form-group row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-1" data-toggle="tab" href="#general-knowledge" role="tab">General Knowledge</a>
                                <a class="nav-item nav-link disabled" id="nav-2" data-toggle="tab" href="#mathematics" role="tab">Mathematics</a>
                                <a class="nav-item nav-link disabled" id="nav-3" data-toggle="tab" href="#computer-technology" role="tab">Computer Technology</a>
                            </div>
                        </nav>
                        <div id="main-tab">
                            <div class="tab-content perform-test" id="tabContent-1">
                                <div class="tab-pane fade show active" id="general-knowledge" role="tabpanel" style="margin-top: 20px;">
                                    @{int t1 = 1; }
                                    @foreach (var itemDetail in DetailQuestions)
                                    {
                                        <div class="form-group">
                                            @foreach (var item in MyQuestions)
                                            {
                                                if (item.TypeOfQuestion == 1)
                                                {
                                                    if (itemDetail.QuestionsID == item.QuestionsID)
                                                    {
                                                        string name = "T" + 1 + "Q" + t1;
                                                        string nameForm = "T1" + item.QuestionsID;
                                                        <h4>
                                                            <span style="font-weight: bold; text-decoration: underline">Question @t1:</span>
                                                            @item.QuestionsName (@item.Mark mark)
                                                        </h4>
                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-1">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-1" value="1">
                                                                (A). @item.AnswerOne
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-2">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-2" value="2">
                                                                (B). @item.AnswerTwo
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-3">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-3" value="3">
                                                                (C). @item.AnswerThree
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-4">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-4" value="4">
                                                                (D). @item.AnswerFour
                                                            </label>
                                                        </div>
                                                        t1++;
                                                    }

                                                }
                                            }
                                        </div>
                                    }
                                    <input type="text" name="timeRemaingOne" id="timeRemaingOne" value="" hidden/>
                                </div>
                            </div>
                            <div class="tab-content perform-test" id="tabContent-2">
                                <div class="tab-pane fade show active" id="mathematics" role="tabpanel" style="margin-top: 20px;">
                                    @{int t2 = 1; }
                                    @foreach (var itemDetail in DetailQuestions)
                                    {
                                        <div class="form-group">
                                            @foreach (var item in MyQuestions)
                                            {
                                                if (item.TypeOfQuestion == 2)
                                                {
                                                    if (itemDetail.QuestionsID == item.QuestionsID)
                                                    {
                                                        string name = "T" + 2 + "Q" + t2;
                                                        string nameForm = "T2" + item.QuestionsID;
                                                        <h4>
                                                            <span style="font-weight: bold; text-decoration: underline">Question @t2:</span>
                                                            @item.QuestionsName (@item.Mark mark)
                                                        </h4>
                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-1">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-1" value="1">
                                                                (A). @item.AnswerOne
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-2">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-2" value="2">
                                                                (B). @item.AnswerTwo
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-3">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-3" value="3">
                                                                (C). @item.AnswerThree
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-4">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-4" value="4">
                                                                (D). @item.AnswerFour
                                                            </label>
                                                        </div>
                                                        t2++;
                                                    }

                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <input type="text" name="timeRemaingTwo" id="timeRemaingTwo" value="" hidden />
                            </div>
                            <div class="tab-content perform-test" id="tabContent-3">
                                <div class="tab-pane fade show active" id="computer-technology" role="tabpanel" style="margin-top: 20px;">
                                    @{int t3 = 1; }
                                    @foreach (var itemDetail in DetailQuestions)
                                    {
                                        <div class="form-group">
                                            @foreach (var item in MyQuestions)
                                            {
                                                if (item.TypeOfQuestion == 3)
                                                {
                                                    if (itemDetail.QuestionsID == item.QuestionsID)
                                                    {
                                                        string name = "T" + 3 + "Q" + t3;
                                                        string nameForm = "T3" + item.QuestionsID;
                                                        <h4>
                                                            <span style="font-weight: bold; text-decoration: underline">Question @t3:</span>
                                                            @item.QuestionsName (@item.Mark mark)
                                                        </h4>
                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-1">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-1" value="1">
                                                                (A). @item.AnswerOne
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-2">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-2" value="2">
                                                                (B). @item.AnswerTwo
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-3">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-3" value="3">
                                                                (C). @item.AnswerThree
                                                            </label>
                                                        </div>

                                                        <div class="form-radio form-radio-flat">
                                                            <label class="form-check-label" for="@name-4">
                                                                <input type="radio" class="form-check-input" name="@nameForm" id="@name-4" value="4">
                                                                (D). @item.AnswerFour
                                                            </label>
                                                        </div>
                                                        t3++;
                                                    }

                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <input type="text" name="timeRemaingThree" id="timeRemaingThree" value="" hidden />
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" id="step-1" class="btn btn-success mr-2 float-right disabled" disabled>Next</button>
                <button type="button" id="step-2" class="btn btn-success mr-2 float-right disabled" disabled hidden>Next</button>
                <button type="button" id="step-3" class="btn btn-success mr-2 float-right disabled" disabled hidden>Completed</button>
                <input type="submit" value="Index" id="completed" hidden/>
            }
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    var arrDetailQuestions = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["DetailQuestions"]));
    var arrMyQuestions = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["MyQuestions"]));
    //
    let arrGeneral = [];
    let arrMathematics = [];
    let arrComputer = [];
    var countDownDate = presentTime();
    var distance;
    var time;
    //
    var tab1;
    var tab2 = $("#tabContent-2");
    var tab3 = $("#tabContent-3");
    $("#tabContent-2").remove();
    $("#tabContent-3").remove();
    checkInput("#step-1", arrGeneral, 1);
    setTimeRemaining(function () {
        getStepTwo();
    });
    //
    function presentTime() {
        var newDate = new Date();
        var newDateObj = new Date(newDate.getTime() + 5 * 60000);
        return newDateObj.getTime();
    }

    function checkInput(step, arr, typeQuestion) {
        arrMyQuestions.map(item => {
            if (item.TypeOfQuestion == typeQuestion) {
                let name = `input:radio[name="T${typeQuestion}${item.QuestionsID}"]`;
                console.log(name);
                $(name).change(
                function () {
                    if ($(this).is(':checked')) {
                        let idx = arr.indexOf(item.QuestionsID);
                        if (idx == -1) arr.push(item.QuestionsID);
                        if (arr.length == 5) {
                            $(step).removeClass('disabled').removeAttr('disabled');
                        }
                    }
                });
            }
        })
    }

    function setTimeRemaining(callback) {
        var x = setInterval(function () {
            var now = new Date().getTime();
            distance = countDownDate - now;
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            time = minutes + "m " + seconds + "s ";
            document.getElementById("demo").innerHTML = time;
            if (distance < 0) {
                alert("Click ok to next test");
                clearInterval(x);
                document.getElementById("demo").innerHTML = "Start test";
                callback();
            }
        }, 1000);
    }
    //
    function getStepTwo() {
        $("#tabContent-1").hide();
        tab1 = $("#tabContent-1");
        $("#main-tab").append(tab2);
        $("#tabContent-1").remove();
        $("#nav-1").removeClass("active").addClass("disabled");
        $("#nav-2").addClass("active").removeClass("disabled");
        $("#step-2").removeAttr("hidden");
        $(".form-check-label").append('<i class="input-helper"><i/>');
        $("#step-1").remove();
        setTimeout(function () {
            checkInput("#step-2", arrMathematics, 2);
            setTimeRemaining(function () {
                getStepThree();
            });
        }, 1000);
        countDownDate = presentTime();
    }

    function getStepThree() {
        $("#tabContent-2").hide();
        tab2 = $("#tabContent-2");
        $("#main-tab").append(tab3);
        $("#tabContent-2").remove();
        $("#nav-2").removeClass("active").addClass("disabled");
        $("#nav-3").addClass("active").removeClass("disabled");
        $("#step-3").removeAttr("hidden");
        $(".form-check-label").append('<i class="input-helper"><i/>');
        $("#step-2").remove();
        setTimeout(function () {
            checkInput("#step-3", arrComputer, 3);
            setTimeRemaining(function () {
                completeTest()
            });
        }, 1000);
        countDownDate = presentTime();
    }

    function completeTest() {
        $('#step-3').removeAttr('disabled');
        $('#step-3').click();
    }

    $("#step-1").click(function () {
        $("#timeRemaingOne").val(time);
        getStepTwo();
    })

    $("#step-2").click(function () {
        $("#timeRemaingTwo").val(time);
        getStepThree();
    })

    $("#step-3").click(function () {
        $("#timeRemaingThree").val(time);
        $("#main-tab").append(tab1);
        $("#main-tab").append(tab2);
        $("#completed").click();
    })

</script>