@model AptitudeTestOnline.Models.ExamModels

@{
    ViewBag.Title = "Edit";
    IEnumerable<AptitudeTestOnline.Models.QuestionsModels> Questions =
         ViewData["Questions"] as IEnumerable<AptitudeTestOnline.Models.QuestionsModels>;
    IEnumerable<AptitudeTestOnline.Models.QuestionsModels> MyQuestions =
         ViewData["MyQuestions"] as IEnumerable<AptitudeTestOnline.Models.QuestionsModels>;
    IEnumerable<AptitudeTestOnline.Models.DetailsExamModels> DetailQuestions =
         ViewData["DetailQuestions"] as IEnumerable<AptitudeTestOnline.Models.DetailsExamModels>;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create new exam</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ExamID)

        <div class="form-group row">
            <label for="ExamName" class="control-label col-md-2">Exam Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control text-box single-line", required = true } })
                @Html.ValidationMessageFor(model => model.ExamName, "", new { @class = "text-danger font-alert" })
            </div>

        </div>

        <div class="form-group row">
            <label for="Description" class="control-label col-md-2">Exam Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control text-box single-line", required = true } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger font-alert" })
            </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-md-2">Setup Question</label>
            <div class="col-md-10">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#general-knowledge" role="tab">General Knowledge</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#mathematics" role="tab">Mathematics</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#computer-technology" role="tab">Computer Technology</a>
                    </div>
                </nav>
                <div class="tab-content admin" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="general-knowledge" role="tabpanel" style="margin-top: 20px;">
                        @{int t1 = 1; }
                        @foreach (var itemDetail in DetailQuestions)
                        {
                            <div>
                                @foreach (var item in MyQuestions)
                                {
                                    if (item.TypeOfQuestion == 1)
                                    {
                                        if (itemDetail.QuestionsID == item.QuestionsID)
                                        {
                                            string name = "T" + 1 + "Q" + t1;
                                            <div class="form-group row">
                                                <label for="@name" class="control-label col-md-2">Question (@t1)</label>
                                                <div class="col-sm-9">


                                                    <select class="form-control" id="@name" name="@itemDetail.DetailsID">
                                                        @foreach (var questions in Questions)
                                                        {
                                                            if (questions.TypeOfQuestion == 1)
                                                            {
                                                                if (questions.QuestionsID == item.QuestionsID)
                                                                {
                                                                    t1++;
                                                                    <option value="@item.QuestionsID" selected>@item.QuestionsName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@questions.QuestionsID">@questions.QuestionsName</option>
                                                                }

                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                            </div>
                        }
                    </div>

                    <div class="tab-pane fade" id="mathematics" role="tabpanel" aria-labelledby="nav-profile-tab">
                        @{int t2 = 1; }
                        @foreach (var itemDetail in DetailQuestions)
                        {
                            <div>
                                @foreach (var item in MyQuestions)
                                {
                                    if (item.TypeOfQuestion == 2)
                                    {
                                        if (itemDetail.QuestionsID == item.QuestionsID)
                                        {
                                            string name = "T" + 2 + "Q" + t2;
                                            <div class="form-group row">
                                                <label for="@name" class="control-label col-md-2">Question (@t2)</label>
                                                <div class="col-sm-9">


                                                    <select class="form-control" id="@name" name="@itemDetail.DetailsID">
                                                        @foreach (var questions in Questions)
                                                        {
                                                            if (questions.TypeOfQuestion == 2)
                                                            {
                                                                if (questions.QuestionsID == item.QuestionsID)
                                                                {
                                                                    t2++;
                                                                    <option value="@item.QuestionsID" selected>@item.QuestionsName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@questions.QuestionsID">@questions.QuestionsName</option>
                                                                }

                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                            </div>
                        }

                    </div>

                    <div class="tab-pane fade" id="computer-technology" role="tabpanel" aria-labelledby="nav-contact-tab">
                        @{int t3 = 1; }
                        @foreach (var itemDetail in DetailQuestions)
                        {
                            <div>
                                @foreach (var item in MyQuestions)
                                {
                                    if (item.TypeOfQuestion == 3)
                                    {
                                        if (itemDetail.QuestionsID == item.QuestionsID)
                                        {
                                            string name = "T" + 3 + "Q" + t3;
                                            <div class="form-group row">
                                                <label for="@name" class="control-label col-md-2">Question (@t3)</label>
                                                <div class="col-sm-9">


                                                    <select class="form-control" id="@name" name="@itemDetail.DetailsID">
                                                        @foreach (var questions in Questions)
                                                        {
                                                            if (questions.TypeOfQuestion == 3)
                                                            {
                                                                if (questions.QuestionsID == item.QuestionsID)
                                                                {
                                                                    t3++;
                                                                    <option value="@item.QuestionsID" selected>@item.QuestionsName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@questions.QuestionsID">@questions.QuestionsName</option>
                                                                }

                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <p style="color: red" id="exam-alert"></p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btn-test" class="btn btn-success mr-2">Save</button>
                <input type="submit" value="Create" id="btn-edit-exam" class=" hidden" />
                @Html.ActionLink("Back to List", "Index", "Exam", null, htmlAttributes: new { @class = "btn btn-light" })
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
    $("#btn-test").click(function () {
        var arr = [];
        var check = true;
        for (let i = 1; i <= 3; i++) {
            for (let j = 1; j <= 5; j++) {
                let name = "#T" + i + "Q" + j;
                let value = $(name).val();
                let idx = arr.indexOf(value);
                if (idx == -1) arr.push(value);
                else {
                    check = false;

                    var typeOfQuestions = "";
                    switch (i) {
                        case 1:
                            typeOfQuestions = "General Knowledge";
                            break;
                        case 2:
                            typeOfQuestions = "Mathematics";
                            break;
                        case 3:
                            typeOfQuestions = "Computer Technology";
                            break;

                    }
                    var text = "[Questions " + j + "] of tab [" + typeOfQuestions + "] duplicate, please replace!"
                    $("#exam-alert").text(text);
                }
            }
        }
        if (check) {
            $("#btn-edit-exam").click();
        }
    })
    </script>