@model AptitudeTestOnline.Models.SchedulesModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchedulesModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Schedule }) |
    @Html.ActionLink("Back to List", "Index")
</p>
