@model PagedList.IPagedList<AptitudeTestOnline.Models.SchedulesModels>
@using PagedList.Mvc

@{
    ViewBag.Title = "Schedules";
    IEnumerable<AptitudeTestOnline.Models.ExamModels> Exam =
        ViewData["Exam"] as IEnumerable<AptitudeTestOnline.Models.ExamModels>;
}

<div class="row mb-3">
    <div class="col-2">
        <a class="btn btn-success btn-block" href="/Manager/Schedules/Create">
            Create
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<div>
    <div class="table-responsive">

        <table class="table table-bordered table-hover">
            <tr class="bg-default">
                <th class="w-1">
                    #
                </th>
                <th class="w-6">
                    Exam Name
                </th>
                <th class="w-2">
                    Date of Time
                </th>
                <th class="w-1">
                    Tools
                </th>
            </tr>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @foreach (var itemm in Exam)
                        {
                            if (itemm.ExamID == item.ExamID)
                            {
                                @Html.DisplayFor(modelItem => itemm.ExamName)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfTime)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.ScheduleID }, htmlAttributes: new { @class = "fas fa-edit btn-admin" })
                    </td>
                </tr>
                i++;
            }

        </table>
    </div>
</div>
<div class="pagi-admin">
    <p class="text-right">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $('.pagi-admin .pagination').addClass('justify-content-center');
</script>