@model IEnumerable<AptitudeTestOnline.Models.UserViewModel>
@using AptitudeTestOnline.Models;

@{

    IEnumerable<Accounts> ListAccount = ViewData["ListAccount"]
    as IEnumerable<Accounts>;
    IEnumerable<DetailsRegistrations> ListRegister = ViewData["ListRegister"]
        as IEnumerable<DetailsRegistrations>;


    ViewBag.Title = "Index";

}

<h2 class="text-center text-primary">List Result Of Candidate</h2>

<div class="table-responsive">
    <table class="table table table-bordered table-hover">
        <tr class="bg-default">
            <th class="w-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="w-2">
                Email
            </th>
            <th class="w-2">
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th class="w-2">
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th class="w-2">
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            
        </tr>

        @foreach (var account in ListAccount)
        {
            foreach (var regis in ListRegister)
            {
                if (account.AccountID == regis.AccountID)
                {
                    <tr>
                        <td>
                            @account.Name
                        </td>
                        <td>
                            @account.Email
                        </td>
                        <td>
                            @account.Education
                        </td>
                        <td>
                            @account.Experience
                        </td>
                        <td>
                            @regis.Mark
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.AccountID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AccountID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })*@
                        </td>
                    </tr>

                }
            }

        }

    </table>
</div>
