@model AptitudeTestOnline.Models.QuestionsModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuestionsModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
