@model PagedList.IPagedList<AptitudeTestOnline.Models.QuestionsModels>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    IEnumerable<AptitudeTestOnline.Models.QuestionsModels> Questions =
        ViewData["Questions"] as IEnumerable<AptitudeTestOnline.Models.QuestionsModels>;
    IEnumerable<AptitudeTestOnline.Models.TypeOfQuestionModel> TypeOfQuestion =
        ViewData["TypeOfQuestion"] as IEnumerable<AptitudeTestOnline.Models.TypeOfQuestionModel>;

}

<div class="row mb-3">
    <div class="col-2">
        <a class="btn btn-success btn-block" href="/Manager/Questions/Create">
            Create
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="col-10">
        @using (Html.BeginForm("Index", "Questions", FormMethod.Get))
        {
            <div class="form-find">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "find-admin", placeholder = "Enter name" })
                <button type="submit" class="btn btn-default btn-outline-primary">Search</button>
            </div>
        }
    </div>
</div>

<div class="border-window" style="overflow-y: scroll">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr class="bg-default">
                <th class="w-1">
                    #
                </th>
                <th class="w-5">
                    Questions Name
                </th>
                <th class="w-2">
                    Questions Type
                </th>
                <th class="w-1">
                    Mark
                </th>
                <th class="w-1">
                    Tools
                </th>
            </tr>

            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p>@i</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionsName)
                    </td>
                    <td>
                        @foreach (var itemType in TypeOfQuestion)
                        {
                            if (item.TypeOfQuestion == itemType.TypeOfQuestion)
                            {
                                @itemType.NameTypeOfQuestion;
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mark)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.QuestionsID }, htmlAttributes: new { @class = "fas fa-edit btn-admin" })
                    </td>
                </tr>
                i++;
            }

        </table>
        @*@{Html.RenderAction("GetPagination", "Questions", new { page = 1 });}*@
    </div>
</div>



<div class="pagi-admin">
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $('.pagi-admin .pagination').addClass('justify-content-center');
    var heightCard = $('body').height() - 430;
    console.log(heightCard);
    $('.border-window').height(heightCard);
</script>