@model PagedList.IPagedList<AptitudeTestOnline.Models.Accounts>

@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<style>
    .form-find input {
        border: 1px solid silver;
        border-radius: 3px;
        min-height: 20px;
        max-height: 34px;
        padding: 5px;
    }
</style>
<div class="row mb-3">

    <div class="col-12">
        @using (Html.BeginForm("Index", "Candidate", FormMethod.Get))
        {
            <div class="form-find">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "find-admin", placeholder = "Enter name" })
                <button type="submit" class="btn btn-default btn-outline-primary">Search</button>
            </div>
        }
    </div>
</div>

<h2 class="text-center text-primary">Candidate List</h2>

<div class="border-window">
    <div class="table-responsive">
        <table class="table table table-bordered table-hover">
            <tr class="bg-default">
                <th class="w-2">
                    Full Name
                </th>
                <th class="w-2">
                    Education
                </th>
                <th class="w-1">
                    Experience
                </th>
                <th class="w-1">
                    Interest
                </th>
                <th class="w-1">
                    Email
                </th>
                <th class="w-1">
                    Have Account
                </th>
                <th class="w-1">
                    Dateofbirth
                </th>
                <th class="w-1">
                    Tools
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Education)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.UserID == null)
                        {<P class="text-center">No</P>}


                        @if (item.UserID != null)
                        {<p class="text-center">Yes</p> }
                        @*@Html.DisplayFor(modelItem => item.UserID)*@

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dateofbirth)
                    </td>
                    <td>
                        @if (item.UserID == null)
                        {
                            @Html.ActionLink("Create Account", "Register", "AdminAccount", new { id = item.AccountID }, htmlAttributes: new { @class = "fas  btn-admin" })
                        }
                        else
                        {
                            @Html.ActionLink("Add Schedule", "Schedule", new { id = item.AccountID }, htmlAttributes: new { @class = "fas  btn-admin" })
                        }



                    </td>
                </tr>
            }

        </table>
    </div>
</div>
    <div class="pagi-admin">
        <p>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </p>
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $('.pagi-admin .pagination').addClass('justify-content-center');
        var heightCard = $('body').height() - 430;
        $('.border-window').height(heightCard);
    </script>
