@model IEnumerable<AptitudeTestOnline.Models.Accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table table table-bordered table-hover">
    <tr class="bg-default">
        <th class="w-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="w-2">
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th class="w-1">
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th class="w-1">
            @Html.DisplayNameFor(model => model.Interest)
        </th>
        <th class="w-1">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="w-1">
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th class="w-1">
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </th>
        <th class="w-1">
            Tools
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dateofbirth)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.AccountID }, htmlAttributes: new { @class = "fas fa-edit btn-admin" }) |
            @Html.ActionLink(" ", "Details", new { id = item.AccountID }, htmlAttributes: new { @class = "fas fa-plus btn-admin btn-ad-cr" }) |
            @Html.ActionLink(" ", "Schedule", new { id = item.AccountID }, htmlAttributes: new { @class = "fas fa-plus btn-admin" }) |
        </td>
    </tr>
}

</table>
